*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
.fuse*
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
venv/

# macOS
.DS_Store

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
